@model UsuarioModel;
@{
    ViewData["Title"] = "Confirmação para apagar";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (@Model.Nome)?</h3>
    <br /><br />
    <a asp-controller="Usuario" asp-action="Index" role="button" class="btn btn-primary btn-block">Cancelar exclusão</a>
    <a asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id" role="button" class="btn btn-danger btn-block">Confirmar exclusão</a>
</div>


